@import '~primer-support';

$color-primary: #F47820; //use
$color-secondary: #000000;
$link-text: #82b1ff;
$warning: #E98C00;
$error: #EB625B;
$success: #77BD41;
$info: #5B7BEB;;
$input-hover-border: #4c5480;
$primary-button-background: #ffffff;
$primary-button-background-hover: #77BD41;
$primary-button-border: $color-primary;
$primary-button-text: $color-primary;
$secondary-button-background: #B0B0B0;
$secondary-button-background-hover: #31313b;
$secondary-button-border: #B0B0B0;
$color-text-add: #B0B0B0;
$color-icon-lock: #B0B0B0;
$secondary-button-text: #ffffff;
$button-disabled: rgb(244, 120, 32, 0.4);
$button-enabled: #F47820;
$button-disabled-text: rgb(249, 249, 249);
$color-text-btn: rgba(0,0,0,0.15);
$color-border: rgba(0,0,0,0.1);
$panel-border: rgba(0,0,0,0.2);
$panel-background: #ffffff;
$panel-header-background: #282932;
$highlighted-selector-border: #7785d5;
$background-color: #E5E5E5;
$color-border: rgba(0,0,0,0.1);
$panel-border: rgba(0,0,0,0.2);
$color-logo: #0F263E;
$panel-background-error: rgb(235, 98, 91, 0.15);
$panel-background-warning: rgb(233, 140, 0, 0.15);
$panel-background-info: rgb(91, 123, 235, 0.15);
$color-background-toggle: $color-primary;
$color-background-noti-success:  linear-gradient(81.63deg, #77BD41 1.42%, #4E931A 100%); //use
$color-background-noti-fail:  linear-gradient(81.63deg, #EB625B 1.42%, #CF524C 100%); //use
$color-btn-language: rgba(0, 0, 0, 0.7);
$color-button-hover: #FF8C06;
$color-button-add-token: #3990F8;
$color-button-add-token-hover: #0572f5;

// PrimerCSS
$black: #000000;
$border: 1px solid $panel-border;
$bg-blue: #384AFF;
$bg-blue-light: #F7F8FC;
$bg-gray: #90a4ae;
$bg-green: #21b66f;
$text-white: #ffffff; //use
$text-blue: #384AFF;
$text-red: #EB625B;
$text-warning: #E98C00;
$text-yellow: #ffc780;
$blue-100: #DCE2FF;
$gray: $bg-gray;
$text-gray: $gray;
$blue: #7685d5;
$blue-900: #41476b;
$gray-dark: #282a32;
$bg-gray-dark: $gray-dark;
$bg-toggle: rgba(0,0,0,0.03);
$bg-hover: #EDF4E7;
$bg-gray-medium: #f1f1f1;
$bg-white: #ffffff;
$bg-white-opacity: rgb(255, 255, 255, 0.8);
$btn-bg-color: linear-gradient(270deg, #FF8C06 0%, #F47820 100%); //use
$btn-bg-hover-color:  #F47820; //use
$line-hover-color: rgb(244, 120, 32, 0.05); //use
$bg-color-btn-account: rgb(244, 120, 32, 0.1); //use
$btn-text-color: #F9F9F9; //use
$tab-bg-color: linear-gradient(270deg, #FF8C06 0%, #F47820 100%); //use
$counter-bg-color: #896F5D; //use
$counter-btn-bg-color: #5B7BEB;
$counter-btn-bg-hover-color: #2754F1; //use
$checkbox-bg-color: #009AF0; //use
$sidebar-bg-color: linear-gradient(180deg, #EC6920 0%, #E2571D 100%); //use
$sidebar-select-color: #F47820; //use
$sidebar-text-horver-color: rgb(255, 255, 255, 0.7); //use
$game-btn-hover-color: #FF8C06;  //use
$game-toggle-bg-color: #dedede; //use
$game-toggle-bg-hover-color: #878787; //use
$game-noti-red-bg-color: #ec625b; //use
$game-noti-green-bg-color: #78be3f; //use

//message-color
$game-error-text-color: #f42d1a; //use
$game-error-bg-color: #fba8a9; //use
$game-warning-bg-color: #fdd4a8; //use
$game-warning-token-bg-color: #b9d1ff; //use
$game-similar-pool-bg-color: #b9d1ff; //use

$bg-btn-connect: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );

$border-radius: 5px;

$body-font-size: 13px;
$body-line-height: 1.4;
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;

$font-weight-normal: Lato-Bold, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-weight-bold: Lato-Bold, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
$font-size-large: 25px;
$modal-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);

$font-bold: Lato-Bold;
$font-weight-semibold: $font-bold;
$font-weight-light: Lato-Light;
$font-weight-regular: Lato-Regular;
$font-weight-black: Lato-Black;
$font-forward: DelaGothicOne-Regular